@font-face {
    font-family: "Beatrice";
    src: url("/Beatrice-Regular.woff2") format('woff2');
  }
  

html {
    height: 100%;
    width: 100%;
  }

iframe {
    height: 100vh;
    margin: 0;
    width: 100%;
    border: none;
    cursor: url('new.svg')
}

.section-header {
    position: absolute;
    display: flex;
    justify-content: center;
    width: 100%;
    flex-direction: column;
    align-items: center;
}

a {
    cursor: pointer;
    text-decoration: none;
    color: #e54848;
}

h1, p {
    font-family: Beatrice;
    letter-spacing: 4px;
    color: #e54848;
}

h1, p {
    clip-path: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}